body{
    background-color:rgb(83, 83, 83);
}
.simon{/*create 2x2 grid*/
    margin: 200px auto;
    width: 500px;
    height: 500px;
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 300px;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}
.red{
    background-color: red;
    border-radius: 30px;
    border-color: lightcoral;
}
.green{
    background-color: green;
    border-radius: 30px;
    border-color: greenyellow;
}
.blue{
    background-color: blue;
    border-radius: 30px;
    border-color: skyblue;
}
.yellow{
    background-color: yellow;
    border-radius: 30px;
    border-color: goldenrod;
}