/* Core Body and Text*/
@font-face {
    font-family: "W95FA";
    src: url("./font/W95FA/W95FA.otf");
    font-style: normal;
}

body{
    display: grid;
    background:  url("./images/windowsXP.png"), linear-gradient(180deg, rgba(144,178,216,1) 0%, rgba(193,227,255,1) 50%, rgba(233,248,255,1) 100%);
    background-repeat: no-repeat;
    background-position: center;
    font-family: "W95FA";
}
.titleWindow {
    display: grid;
    justify-content: center;
    align-content: center;
    background: #b9b9b9;
    overflow: hidden;
    position: relative;
    width: 300px;
    margin: 30px auto;
    background-color: #bebebe;
    border: 2px solid #7c7c7c;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
}
.windowContent{
    background-color: #ffffff;
    border: 2px solid #7c7c7c;
    border-bottom-color: #ffffff;
    border-right-color: #ffffff;
    margin: 0px auto;
    padding: 4px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 2px;
    width: auto;
}
.closeWindow{
    display: grid;
    width: 27px;
    height: 27px;
    font-family: "Arial Black", sans-serif;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 50%;
    position: absolute;
    color: black;
    margin: 7px 5px auto;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-self: end;
    background-color: #bebebe;
    border: 2px solid #7c7c7c;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
}
h1{
    display: grid;
    justify-content: left;
    align-content: center;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 2px;
    font-size: 20px;
    font-weight: normal;
    color: white;
    background: linear-gradient(90deg, #000b7c, #377cc6);
    padding: 3px;
    height: 29px;
    width: 290px;
}
h2{
    display: grid;
    justify-content: center;
    color: black;
}
h3{
    display: grid;
    justify-content: center;
    color: black;
}

/* Start and Quit Menu */
#menu{
    display: grid;
    justify-content: space-around;
    font-family: "W95FA";
    bottom: 0;
    left: 0;
    position: fixed;
    height: 35px;
    width: 100%;
    background: #bebebe;
    align-content: center;
    border-top: 2px solid #ffff;
}
.start {
    position: absolute;
    font-family: "W95FA";
    font-weight: bold;
    font-size: 17px;
    min-width: 100px;
    background: url(https://win98icons.alexmeub.com/icons/png/windows-0.png) no-repeat 4px center / 25px;
    padding-left: 23px;
    padding-right: 3px;
    height: 29px;
    margin: 3px 3px;
    background-color: #bebebe;
    border: 2px solid #7c7c7c;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    cursor: pointer;
}

/* Score Display*/
.currScore{
    display: grid;
    grid-row: 1;
    color: black;
    font-family: "W95FA";
    font-weight: bold;
    font-size: 17px;
    float: right;
    margin: 3px 3px;
    padding-left: 5px;
    padding-right: 5px;
    height: 26px;
    border: 2px solid #7c7c7c;
    border-bottom-color: #ffffff;
    border-right-color: #ffffff;
    align-content: center;
}
.highScore{
    display: grid;
    grid-row: 1;
    color: black;
    font-family: "W95FA";
    font-weight: bold;
    font-size: 17px;
    float: right;
    margin: 3px 3px;
    padding-left: 5px;
    padding-right: 5px;
    height: 26px;
    border: 2px solid #7c7c7c;
    border-bottom-color: #ffffff;
    border-right-color: #ffffff;
    align-content: center;
}

/*create 2x2 grid w/ respective colors*/
#simon{
    margin: 65px auto;
    width: 415px;
    height: 415px;
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 200px;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    border-radius: 5px;
    background-color: rgb(24, 24, 24);
    padding: 18px;
}
.red{
    background-color: #fe0000;
    border-radius: 5px;
    border-color: #7e0000;
    box-shadow: 2px 2px 4px #000000;
    cursor: pointer;
}
.green{
    background-color: #06ff04;
    border-radius: 5px;
    border-color: #047e00;
    box-shadow: 2px 2px 4px #000000;
    cursor: pointer;
}
.blue{
    background-color: #0000ff;
    border-radius: 5px;
    border-color: #00007e;
    box-shadow: 2px 2px 4px #000000;
    cursor: pointer;
}
.yellow{
    background-color: #ffff04;
    border-radius: 5px;
    border-color: #7e7e00;
    box-shadow: 2px 2px 4px #000000;
    cursor: pointer;
}
